

@font-face {
    font-family: 'Bungee Spice', cursive;
    src: url(\BungeeSpice-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Norse Bold";
    src: url(\Norse-Bold.otf) format("opentype");
}
input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #002B5B;
}

main {  
    
    width: 90%;    
    margin: 0 auto;
    display: flex;
    
}
.image-cointainer {
    background-image: url(background.jpg);
    background-size: cover;
    width: 1fr;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10vh;
    
    
    
    

}
img {
    height: 80%;
    
    
}
a {
    text-decoration: none;
    color: inherit;
    font-size: 1.1rem;
}
.author {
    
    margin-bottom: 5vh;    
    color: whitesmoke;
    

  
}
.logo {
    background-color: rgba(0, 0, 0, 0.438);
    max-height: 180px;
    min-width: 100%;
    margin-top: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.logo-text {
    font-family: "Norse Bold", sans-serif;
    color: orangered;
    font-size: 5.5rem;


}

.section-wrapper {    
    width: 3fr;
    background-color: #2d3655;;
    border: 2px black solid;
    display: grid;   
    height: 100vh; 
    font-family: Helvetica;  
    font-style: italic; 
    justify-content: center; 
    

}
.legend {
    margin-left: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Bungee Spice';
}
#pizza{
    font-family: 'Bungee Spice';
}
.text {
    padding: 2rem;    
    height: 1fr;
    background-color: #2d3655;
    font-family: 'Bungee Spice';
    font-weight: 100;
    font-size: 1.1rem;

}

label {
    display: grid;
    font-family: 'Bungee Spice';
    
    
    
    
}
.form {
   
   padding: 1rem;
   
}

.fieldset1 {
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 100px 1fr;
    padding: 1rem;
    height: 30vh;    
    
   
    
}
.lab {
    margin-top: -8px;
}
fieldset {
    margin-top: 2rem;
    border: none;
}

form label #toggleBtn {  
    margin-top: 0.3rem;
    width: 30px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.63);
}
form label #toggleBtn::before {
    content: '\f06e';
    font-family: fontAwesome;
}
form label #toggleBtn.hide::before {
    content: '\f070';
    font-family: fontAwesome;
}
#validation {
    display: none;
    background-color: rgba(255, 255, 255, 0.192);    
    font-size: 0.8rem;
    border-radius: 5px;
}

#validation ul li {
    position: relative;
    list-style: none;
    color: #fff;
    transition: 0.5s;

}
#validation ul li::before {
    content: '\f192';
    width: 20px;
    height: 10px;
    font-family: fontAwesome;
    display: inline-flex;
}






input {
    max-width: 200px;
    width: 70%;
    border-radius: 5px;
    background-color: #010202a9 ;
   
    
}
input:focus {
    box-shadow: 1px 1px 10px yellow;
    
}

input:invalid {
    border-color: #900;
    
  }

  input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #010202a9;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;/*your box-shadow*/
    -webkit-text-fill-color: #010202a9;
} 

  input::placeholder {
    font-family: helvetica, sans-serif;
    color: white;
    opacity: 0.7;
    font-size: 80%;
  }
  
  input:focus:invalid {
    outline: none;
  }
  .req {
    font-family: helvetica, sans-serif;
    color: red;
    font-size: 1.5rem;
  }
  
  .error {
    max-width: 200px;
    
    padding: 0;
    font-family: monospace;
    font-size: 90%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    display: block;
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }

button {
    margin-top: 2.5rem;
    margin-left: 3rem;
    border-radius: 5px;    
    background: linear-gradient(#F1A200, #cc1300);
    height: 2.5rem;
    max-width: 200px;
    color: #090b11;
}
h3 {
    color: #F1A200
    text-shadow: 1px 1px 5px ;
    margin-left: 2.5rem;
}

.log-in {
    font-family: 'Bungee Spice';
 
}

#validation ul li.valid {
    color: greenyellow;
}
